{% extends "base.html" %}
{%block body%}
{%block title%}
About
{%endblock title%}
<div class="container mt-5">
    <h1 class="text-center">About Us</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="static/img/pexels-adrien-olichon-1257089-2387819.jpg" alt="About Us" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <p class="lead">
                Welcome to our website! We are dedicated to providing the best services.
                Our team works passionately to bring innovative solutions to our users.
            </p>
            <p>
                Our mission is to deliver high-quality products and ensure customer satisfaction.
                With years of experience in the industry, we continue to evolve and adapt to the latest trends.
            </p>
            <ul>
                <li>🔹 Quality Service</li>
                <li>🔹 Customer Satisfaction</li>
                <li>🔹 Innovation & Growth</li>
            </ul>
        </div>
    </div>
</div>
{%endblock body%}