{% extends "base.html" %}
{%block body%}
{%block title%}
{% load static %}
About
{%endblock title%}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="static/css/abput.css"> {# Corrected CSS link #}

<div class="container-mt-5">
    
    <div class="row mt-4">
        <div class="col-md-6">
           <img src="{% static 'img/pexels-adrien-olichon-1257089-2387819.jpg' %}" alt="About Us" class="img-fluid rounded"   width : 600 height : 300  padding: 20px margin: 17px >  {# Corrected src using {% static %} #}
        </div>
        <div class="col-md-6">
            <h1 class="text-center">About Us</h1>
            <p class="lead">
                Welcome to our website! We are dedicated to providing the best services.
                Our team works passionately to bring innovative solutions to our users.
            </p>
            <p>
                Our mission is to deliver high-quality products and ensure customer satisfaction.
                With years of experience in the industry, we continue to evolve and adapt to the latest trends.
            </p>
            <ul>
                <li>🔹 Quality Service</li>
                <li>🔹 Customer Satisfaction</li>
                <li>🔹 Innovation & Growth</li>
            </ul>
        </div>
    </div>
</div>
{%endblock body%}